/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #top-nav-bar {
    position: sticky;
    top: 0;

    text-transform: uppercase;
    height: 64px;
    background-color: rgb(255, 241, 0);
    width: 100vw;
    z-index: 10;
  }

  #top-nav-bar-inner-div {
    display: flex;
    justify-content: space-between;
  }

  #top-nav-bar a {
    color: black;
    text-decoration: none;
  }

  #top-nav-bar-logo-and-title-div {
    display: flex;
  }

  #top-nav-bar-logo-div {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #top-nav-bar-logo-div img {
    height: 75%;
  }

  #top-nav-bar-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #top-nav-bar-title-div-apex-friends-span {
    font-size: 40px;
    position: absolute;
  }
  #top-nav-bar-title-div-by-limin-square-span {
    font-size: 20px;
    position: absolute;
    bottom: 0;
  }
  #top-nav-bar-mobile-nav-menu-icon-div {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #top-nav-bar-mobile-nav-menu-icon-div img {
    height: 75%;
  }

  #top-nav-bar-navigation-and-socials {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #top-nav-bar {
    text-transform: uppercase;

    position: sticky;
    top: 0;

    height: 64px;
    background-color: rgb(255, 241, 0);
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
  }

  #top-nav-bar-inner-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #top-nav-bar a {
    color: black;
    text-decoration: none;
  }

  #top-nav-bar-logo-and-title-div {
    display: flex;
  }

  #top-nav-bar-logo-div {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #top-nav-bar-logo-div img {
    height: 75%;
  }

  #top-nav-bar-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #top-nav-bar-title-div-apex-friends-span {
    font-size: 40px;
    position: relative;
    top: 8px;
  }
  #top-nav-bar-title-div-by-limin-square-span {
    font-size: 20px;
    position: relative;
    top: -8px;
  }

  #top-nav-bar-navigation-and-socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav {
    height: 50%;
    width: 250px;
  }
  nav span {
    position: relative;
    top: 4px;
  }

  nav button {
    font-family: "DINCondensed-Bold";
    text-transform: uppercase;
    font-size: 22px;

    background: none;
    border: 2px solid rgba(0, 0, 0, 0);

    position: relative;
    transition: top 0.5s, left 0.5s, box-shadow 0.5s, font-size 0.5s;
    top: 0;
    left: 0;
  }

  nav button:hover {
    box-shadow: -5px 5px black;
    top: -5px;
    left: 5px;
    border: 2px solid black;
  }

  nav button:active {
    box-shadow: -0px 0px black;
    top: 0px;
    left: 0px;
    transition: 0s;
  }
  nav button:focus {
    transition: 0s;
  }

  #top-nav-bar-socials {
    height: 64px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #top-nav-bar-socials img {
    height: 50%;
  }

  #top-nav-bar-mobile-nav-menu-icon-div {
    display: none;
  }
}
/* Medium devices (landscape tablets, 900px and up) */
@media only screen and (min-width: 900px) {
  #top-nav-bar {
    height: 100px;
  }

  #top-nav-bar-logo-div {
    height: 100px;
    width: 100px;
  }

  #top-nav-bar-title-div-apex-friends-span {
    font-size: 50px;
    position: relative;
    top: 8px;
  }
  #top-nav-bar-title-div-by-limin-square-span {
    font-size: 25px;
    position: relative;
    top: -8px;
  }

  nav {
    width: 400px;
  }

  nav button {
    font-size: 40px;
  }

  #top-nav-bar-socials {
    height: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #top-nav-bar-inner-div {
    min-width: 1200px;
    max-width: 1400px;
  }
}
/* Extra large devices (large laptops and desktops, 1536px and up) */
@media only screen and (min-width: 1536px) {
}
