.InfiniteScrollBox-Component-div {
  display: flex;
  overflow-x: scroll;
  position: fixed;
  top: -200px;
  right: -200px;
  bottom: -200px;
  left: -200px;
  transform: skew(-15deg, 3deg);
}

/* .InfiniteScrollBox-Component-div::-webkit-scrollbar {
  display: none;
}
.InfiniteScrollBox-Component-div {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.vertical-div {
  display: flex;
  flex-direction: column;
}

.vertical-div:nth-child(odd) {
  margin-top: 210px;
}

.vertical-div img {
  width: 400px;
  height: 400px;
  margin: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .vertical-div:nth-child(odd) {
    margin-top: 84px;
  }

  .vertical-div img {
    width: 160px;
    height: 160px;
    margin: 8px;
    box-shadow: 4px 4px black;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .vertical-div:nth-child(odd) {
    margin-top: 105px;
  }

  .vertical-div img {
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 5px 5px black;
  }
}
/* Medium devices (landscape tablets, 900px and up) */
@media only screen and (min-width: 900px) {
  .vertical-div:nth-child(odd) {
    margin-top: 131px;
  }

  .vertical-div img {
    width: 250px;
    height: 250px;
    margin: 12.5px;
    box-shadow: 6.25px 6.25px black;
  }
}
/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .vertical-div:nth-child(odd) {
    margin-top: 165px;
  }

  .vertical-div img {
    width: 312.5px;
    height: 312.5px;
    margin: 16px;
    box-shadow: 8px 8px black;
  }
}
/* Extra large devices (large laptops and desktops, 1536px and up) */
@media only screen and (min-width: 1536px) {
  .vertical-div:nth-child(odd) {
    margin-top: 247px;
  }

  .vertical-div img {
    width: 470px;
    height: 470px;
    margin: 23.5px;
    box-shadow: 11.75px 11.75px black;
  }
}
