.InfiniteScrollBox-Component-div {
  /* size */

  /* Flexbox */
  display: flex;
  /* flex-wrap: wrap; */

  overflow-y: scroll;
  /* height: 110%; */
  /* width: 150%; */

  /* border: 2px solid white; */
  /* width: 1400px; */
  position: fixed;
  top: -200px;
  right: -200px;
  bottom: -400px;
  left: -200px;
  transform: skew(-15deg, 3deg);
}

/* .InfiniteScrollBox-Component-div::-webkit-scrollbar {
  display: none;
}
.InfiniteScrollBox-Component-div {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.vertical-div:nth-child(odd) {
  margin-top: 210px;
}

.vertical-div {
  display: flex;
  flex-direction: column;
}

.vertical-div {
  display: flex;
  flex-direction: column;
}

.vertical-div img {
  width: 400px;
  height: 400px;
  margin: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
