#MobileNavBarMenu {
  display: none;
  position: fixed;
  top: 64px;
  width: 100vw;
  height: 50vh;
  background-color: rgb(255, 241, 0);
  font-size: 3.2rem;
  z-index: 100;
  border-bottom: 4px solid black;
}

#MobileNavBarMenu-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#mobile-navbar-menu-links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin-top: 50px;
  margin-right: 50px;
}

#mobile-navbar-menu-links a {
  text-decoration: none;
  color: black;
}

#mobile-navbar-menu-socials {
  display: flex;
  margin-top: 50px;
  margin-right: 50px;
}
#mobile-navbar-menu-socials img {
  width: 50px;
}
