#navbar {
  max-height: 100px;
  background-color: rgb(255, 241, 0);
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-logo {
  max-height: 100px;
  display: flex;
  align-items: center;
}

#navbar-logo img {
  max-height: 100px;
}
#navbar-title {
  text-decoration: none;
  color: black;
  font-size: 6.4rem;
  padding-top: 1.6rem;
}

#navbar-navigation-socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#navbar-navigation-socials img {
  height: 32px;
}

#navbar-navigation-socials button {
  font-family: "DINCondensed-Bold";
  background: none;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 32px;

  position: relative;
  text-transform: uppercase;

  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;

  transition: top 0.5s, left 0.5s, box-shadow 0.5s, font-size 0.5s;
  top: 0;
  left: 0;
}

#navbar-navigation-socials button:hover {
  box-shadow: -5px 5px black;
  top: -5px;
  left: 5px;
  border: 2px solid black;
}

#navbar-navigation-socials button:active {
  box-shadow: -0px 0px black;
  top: 0px;
  left: 0px;
  transition: 0s;
}
#navbar-navigation-socials button:focus {
  transition: 0s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
