#navbar {
  position: sticky;
  max-height: 100px;
  width: 100vw;
  top: 0;

  background-color: rgb(255, 241, 0);
  border-bottom: 2px solid black;

  z-index: 10;
  display: flex;
  justify-content: center;
}

#navbar-inner {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-logo {
  display: flex;
  align-items: center;
}

#navbar-logo img {
  max-height: 100px;
}
#navbar-title {
  text-decoration: none;
  color: black;
  font-size: 6.4rem;
  padding-top: 1.6rem;
}

#navbar-navigation-socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin-right: 20px;
}

nav {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

#socails-div {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

#navbar-navigation-socials img {
  height: 42px;
}

#navbar-navigation-socials button {
  font-family: "DINCondensed-Bold";
  background: none;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 32px;

  position: relative;
  text-transform: uppercase;

  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;

  transition: top 0.5s, left 0.5s, box-shadow 0.5s, font-size 0.5s;
  top: 0;
  left: 0;
}

#navbar-navigation-socials button:hover {
  box-shadow: -5px 5px black;
  top: -5px;
  left: 5px;
  border: 2px solid black;
}

#navbar-navigation-socials button:active {
  box-shadow: -0px 0px black;
  top: 0px;
  left: 0px;
  transition: 0s;
}
#navbar-navigation-socials button:focus {
  transition: 0s;
  border: 2px solid black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  #navbar {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 900px) {
  #navbar {
    height: 64px;
  }
  #navbar-inner {
    width: 100%;
  }

  #navbar-title {
    /* text-decoration: none; */
    font-size: 5.4rem;
    padding-top: 1.6rem;
  }

  #navbar-navigation-socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-right: 20px;
  }
}
/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #navbar {
    height: 100px;
  }

  #navbar-navigation-socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin-right: 20px;
  }
}
/* Extra large devices (large laptops and desktops, 1536px and up) */
@media only screen and (min-width: 1400px) {
  #navbar-inner {
    width: 1400px;
  }
}
