#newarrivals {
  height: 100%;
  background-color: rgb(37, 46, 53);
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #newarrivals :nth-child(even) {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 900px) {
  #newarrivals {
    margin-top: 64px;
  }
}
@media only screen and (max-width: 1400px) {
  #newarrivals {
    max-width: 100%;
  }
}
