@font-face {
  font-family: "DINCondensed-Bold";
  src: local("DINCondensed-Bold"), url("./fonts/DINCondensed-Bold.ttf"),
    format("truetype");
}

.App {
  font-family: "DINCondensed-Bold";
  text-transform: uppercase;
}

/* NAVIGATION */

#Nav-div {
  height: 64px;
  border-bottom: 2px solid black;
  background-color: rgb(255, 241, 0);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

#Nav-Buttons-div button {
  font-family: "DINCondensed-Bold";
  background: none;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 25px;

  position: relative;

  text-transform: uppercase;

  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;

  transition: top 0.5s, left 0.5s, box-shadow 0.5s;
  top: 0;
  left: 0;
}

#Nav-Buttons-div button:hover {
  font-family: "DINCondensed-Bold";
  background: none;
  font-size: 25px;
  box-shadow: -5px 5px black;
  top: -5px;
  left: 5px;
  border: 2px solid black;
}

#Nav-Buttons-div button:active {
  font-family: "DINCondensed-Bold";
  background: none;
  border: 2px solid black;
  font-size: 25px;
  box-shadow: -0px 0px black;
  top: 0px;
  left: 0px;
  transition: 0s;
}

/* HOME PAGE */
/* 
#Home-div {
  background-color: rgb(37, 46, 53);
  display: flex;
  overflow: hidden;
  width: 100%;
} */

#Home-div {
  display: flex;
  transform: rotate(3deg);
  transform: skew(-15deg, 3deg);
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 200%;
  height: 200%;
  position: absolute;
  left: -25%;
  top: -60%;
  padding-right: 100px;
  box-sizing: content-box;
  background-color: rgb(37, 46, 53);
  z-index: -1;
}

#Home-div::-webkit-scrollbar {
  display: none;
}
#Home-div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ImageDiv {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  display: flex;
  margin: 10px;
  background-color: rgb(40, 156, 226);
  position: relative;
  top: 0;
  left: 0;
  transition: left 1.5s, top 1.5s, box-shadow 1.5s;
}

.ImageDiv:hover {
  box-shadow: 30px 30px black;
  top: -30px;
  left: -30px;
  border: 2px solid black;
}

.vertical-div {
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
  /* height: 1000px; */
}

/* TEST HOME */
#TestHome {
  height: 94.9vh;
  display: flex;
  justify-content: center;
  background-color: rgb(37, 46, 53);
  overflow: clip;
  overflow-y: hidden;
}

#InnerTestHomeDiv {
  display: flex;
  height: 100%;
  transform: skew(-15deg, 3deg);
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  /* top: -130px; */
}

.VerticalImageDiv {
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 46, 53);
  min-height: 500%;
}

.ImageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  width: 200px;
  height: 200px;
}
