@font-face {
  font-family: "DINCondensed-Bold";
  src: local("DINCondensed-Bold"),
    url(./fonts/DINCondensed-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "DINAlternate-Bold";
  src: local("DINAlternate-Bold") url(./fonts/DINAlternate-Bold.otf)
    format("onlytype");
}

html {
  font-family: "DINCondensed-Bold";
  font-size: 62.5%;
  background-color: rgb(37, 46, 53);
}

body {
  margin: 0;
}
